{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
  <h1 class="mt-4">Add Blog Post:</h1>
  <form method="POST" class="shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control mb-3") }}
    {{ form.slug.label(class="form-label") }}
    {{ form.slug(class="form-control mb-3") }}
    {{ form.content.label(class="form-label") }}
    {{ form.content(class="form-control mb-3", rows="10") }}
    {{ form.submit(class="btn btn-outline-secondary my-3") }}
  </form>
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='content') }}
{% else %}
  <h2>You Must Be Logged In...</h2>
  <p>Sorry, you must be logged in to add a blog post.</p>
  <a href="{{ url_for('login') }}" class="btn btn-outline-primary btn-sm">Login Here</a>
  <hr />
  <p class="text-muted mt-3">Don't have an account? <a href="{{ url_for('add_user') }}">Register</a> for a free account.</p>
{% endif %}
{% endblock content %}