{% extends "base.html" %}

{% block content %}
<div class="row justify-content-start">
  <div class="col-8 text-center">
    <h1></h1>
    
  </div>
</div>
<div class="clearfix">
  <img src="{{ url_for ('static', filename='images/flask.png' ) }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Flask">
  <h1 class="mt-4">Welcome to the Flasker Blog</h1>
    <p>This project is based on <a href="https://www.youtube.com/playlist?list=PLCC34OHNcOtolz2Vd9ZSeSXWc8Bq23yEz">YouTube video series</a> hosted by Codemy.com.</p>
    <p>This is a fully functional blog, but it is for training purposes. Go ahead and create an account and add a post. I can't guarantee that it will remain there forever.</p>
    <p>If you have any questions about this blog, <a href="mailto:drobb2011@gmail.com?subject=Question about Flasker Blog" target="_blank">you may contact me.</a></p>
</div>
{% endblock content %}
